/*------------------------ General styling ----------------------------------*/
a {
    color: black;
}

.container .row {
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

h5 {
    font-family: 'Courgette', cursive;
}

.site-content {
    margin: 0 auto;
}

.title-header {
    text-align: center;
}

.section-bg {
    background-color: white;
}

ol li {
    border: 1px solid transparent;
    clear: both;
    margin: .5rem 0;
}

.container-fluid {
    margin-left: 20px;
    margin-right: 20px;
}

.container-fluid .dropdown-button {
    margin-left: 11px;
}


.list-inline li {
    display: inline-block;
    font-size: 25px;
    margin-left: 15px;
}

/*------------------------ Navbar ----------------------------------*/
nav {
    background-color: white;
}

nav .brand-logo {
    font-family: 'Satisfy', cursive;
    font-size: 2.2rem;
    color: black;
}

nav li {
    font-family: 'Courgette', cursive;
}

nav ul a {
    font-size: 1.5rem;
    color: black;
}

nav .button-collapse i {
    color: black;
}

.nav-links {
    margin-left: 130px;
}

nav .brand-logo {
    padding-left: 5px;
}

/*------------------------ main banner ----------------------------------*/

.btn,
.btn-large {
    background-color: black;
    color: white;
}

.parallax-container {
    max-height: 380px;
}

.intro-headings {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 12.5px 0;
    text-align: center;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.material-icons {
    color: black;
}

/*------------------------ Search bar ----------------------------------*/

.search-bar {
    margin-left: 60px;
    margin-right: 60px;
}

.input-field .label-icon {
    text-align: right;
}

/*------------------------ Select category ----------------------------------*/

.categories span {
    font-family: 'Courgette', cursive;
    color: black;
}

.main-categories {
    text-align: center
}

.categories {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.categories img {
    height: 120px;
    width: 120px;
    box-shadow: 3px 2px 5px 0 #c2c2c2;
    border-radius: 50%;
}

/*------------------------ Recipe cards ----------------------------------*/

.card .card-image img {
    max-height: 255px;
    min-height: 255px;
}

.height-allignment {
    max-width: 360px;
}


.recipe-image {
    max-height: 100%;
    max-width: 100%;
}

.recipe-info {
    margin-top: 32px;
}


.method-text {
    text-align: left;
}

.card-content p {
    margin-top: 15px;
}

.card-image img {
    background-image: url(/static/images/noimage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card {
    width:100%;
}
/*------------------------ Edit recipes ----------------------------------*/
.current-img-container {
    text-align: center
}

.current-img-container img {
    height: 200px;
    width: 300px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 12.5px 0;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

/*------------------------ Footer ----------------------------------*/

.page-footer {
    padding: 0;
    background-color: rgba(51, 51, 51, 0.08);
}

.contact-us {
    margin-top: 20px;
}

.modal-content h3 {
    text-align: center;
    color: black;
}

.modal .modal-content {
    padding: 24px;
    color: black;
}

/*------------------------ Media querie ----------------------------------*/

@media only screen and (min-width: 600px) {
    .card-allignment {
        display: flex;
    }

}

