/*------------------------ Navbar ----------------------------------*/

nav {
    background-color: white;
}

nav .brand-logo {
    font-family: 'Satisfy', cursive;
    font-size: 3.1rem;
    color: black;
}

nav li {
    font-family: 'Courgette', cursive;
}

nav ul a {
    font-size: 1.5rem;
    color: black;
}

nav .button-collapse i {
    color: black;
}

/*------------------------ main banner ----------------------------------*/

.btn,
.btn-large {
    background-color: black;
    color: white;
}

.parallax-container {
    max-height: 380px;
}

.intro-headings {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 12.5px 0;
    text-align: center;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.material-icons {
    color: black;
}

/*------------------------ Select category ----------------------------------*/

h1 {
    font-family: 'Satisfy', cursive;
}

h5 {
    font-family: 'Courgette', cursive;
}

.categories span {
    font-family: 'Courgette', cursive;
    color: black;
}

.card .card-image img {
    max-height: 255px;
    min-height: 255px;
}

.site-content {
    background-color: ;
    margin: 0 auto;
}

nav .brand-logo {
    padding-left: 5px;
}

.title-header {
    text-align: center;
}

.main-categories {
    text-align: center
}

.height-allignment {
    max-width: 360px;
}

.categories {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.categories img {
    height: 120px;
    width: 120px;
    box-shadow: 3px 2px 5px 0 #c2c2c2;
    border-radius: 50%;
}

.img-text {
    display: block;
}

.content-style {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 12.5px 0;
    text-align: center;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.content-style img {
    height: 298px;
    width: 298px;
    max-width: 100%;
    border-radius: 10px;
}

.section-bg {
    background-color: white;
}


@media (min-width:600px) {}
