<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Courgette|Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
</head>

<body class="site-content">
    <header>
        <nav>
            <div class="nav-wrapper">
                <div class="row">
                    <a href="{{ url_for('index') }}" class="brand-logo">Recipe World</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        {% if 'username' in session %}
                        <li><a href="{{ url_for('add_recipe') }}">Add recipe</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        {% if 'username' in session %}
                        <li><a href="{{ url_for('add_recipe') }}">Add recipe</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock %}

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="contact-us col s4">
                        <a href="#modal3" class="waves-effect waves-light btn modal-trigger">Contact Us</a>
                        <div id="modal3" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h3>Contact Form</h3>
                                <div class="container">
                                    <form action="/action_page.php">
                                        <label for="fname">First Name</label>
                                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                                        <label for="lname">Last Name</label>
                                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                                        <label for="subject">Subject</label>
                                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s8">
                        <ul class="list-inline right">
                            <li><a target="_blank" href=""><i class="fa fa-facebook hvr-grow" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href=""><i class="fa fa-twitter hvr-grow" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href=""><i class="fa fa-youtube hvr-grow" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.parallax').parallax();
            $('select').material_select();
            $('.modal').modal();
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    </script>
</body>

</html>
