{% extends 'base.html' %} {% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="intro-headings">
                <h1 class="header center">Welcome, please register below</h1>
                <div class="search-bar">
                    <form action="{{ url_for('search') }}" method="GET">
                        <div class="input-field">
                            <input id="search" name="search" type="text" class="validate">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        </div>
                    </form>
                </div>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{{url_for('static', filename='images/main-banner.jpg')}}" alt="image of ingredients" style="transform: translate3d(-50%, 251.736px, 0px); opacity: 1;"></div>
</div>

<section class="container">
    <div class="row intro-headings">

        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <form method="POST" action="{{ url_for('register') }}" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="username" id="username" name="username" type="text" class="validate">
                </div>
                <div class="input-field col s12">
                    <input placeholder="password" id="password" name="password" type="password" class="validate">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register
                    <i class="material-icons ">send</i>
                </button>
        </form>
        </div>
</section>

{% endblock %}
